@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter&family=Merriweather:ital@0;1&family=Playfair+Display&family=Work+Sans:wght@400;500;800&display=swap");

.aboutusmedia {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 55%;
}

.banner {
  width: 100%;
  background-color: red;
  text-align: center;
  margin: 1rem;
}

.button {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.box {
  margin: 1rem;
  display: inline-block;
  width: 50%;
  text-align: center;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.color-black {
  color: black;
}

.frame {
  border: 10px solid;
  border-radius: 20px;
  width: 100%;
  height: 700px;
}

.gif-snap {
  margin: 2.5rem;
  border-radius: 20px;
  border: 20px solid;
  border-color: yellow;
}

.gif-insta {
  margin: 2.5rem;
  border-radius: 20px;
  border: 20px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to top left,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: white;
  border: 10px solid;
  border-radius: 20px;
  margin: 2rem;
  width: 90%;
  height: 700px;
}

.grid-item {
  background-color: white;
  font-size: 40px;
  text-align: center;
  margin: auto;
  font-family: "Playfair Display", serif;
}
.icon {
  margin: auto;
  display: block;
  width: 100px;
  border-radius: 20px;
}

.mediaimage {
  display: inline-block;
  width: 31%;
  margin: auto;
}

.navbar {
  background-color: black;
  min-height: 3.25rem;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.navbar-start {
  justify-content: flex-start;
  margin-right: auto;
  align-items: stretch;
  display: flex;
}
.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
  align-items: stretch;
  display: flex;
}
.navbar-item {
  align-items: center;
  display: flex;
  padding: 0px 10px;
  color: white;
  cursor: pointer;
}

.section {
  display: flex;
  width: 100%;
}

.section.is-black {
  background-color: black;
}

.section.is-white {
  background-color: white;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 32pt;
  color: white;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 14pt;
  color: white;
  margin: 1rem;
}

p {
  font-family: "Playfair Display", serif;
  font-size: 13pt;
  margin: 0% 10%;
  color: white;
}

.mediaframe {
  display: flex;
  justify-content: center;
  height: 40%;
}

/* For the terms and conditions */

.terms-body {
  margin: 0;
  padding: 0;
  background-color: grey;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms-box {
  max-width: 460px;
  background-color: black;
  color: white;
  font-family: "Playfair Display", serif;
  padding: 60px 30px;
}

.terms-text {
  padding: 0 20px;
  height: 400px;
  overflow-y: auto;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.terms-text::-webkit-scrollbar {
  width: 2px;
  background-color: black;
}

.terms-text::-webkit-scrollbar-thumb {
  background-color: red;
}

.terms-text h2 {
  text-transform: uppercase;
}

.terms-box h4 {
  font-size: 13px;
  text-align: center;
  padding: 0 40px;
}

.terms-box h4 span {
  color: red;
}

.buttons {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.btn {
  height: 50px;
  width: calc(50%-6px);
  border: 0;
  border-radius: 6px;
  font-size: 19px;
  font-weight: 500;
  color: white;
  transition: 0.3s linear;
  cursor: pointer;
}

.red-btn {
  background-color: red;
}

.gray-btn {
  background-color: grey;
}

.btn:hover {
  opacity: 0.6;
}

/* Form */
.form-body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.5);
  height: 1000px;
}
* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: darkred;
}

.form-container {
  display: flex;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

/* Javascript */

.tac {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.tac .tactext {
  visibility: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

/* Popup arrow */
.tac .tactext::after {
  content: "";
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

/* Toggle this class - hide and show the popup */
.tac .tacshow {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.tac .formshow {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
