.navbar {
  background-color: red;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}
.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  align-items: stretch;
  display: flex;
}

.navbar-brand .navbar-item,
.navbar-tabs .navbar-item {
  align-items: center;
  display: flex;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.section {
  padding: 3rem 1.5rem;
  display: block;
}

.navbar-start {
  justify-content: flex-start;
  margin-right: auto;
  align-items: stretch;
  display: flex;
}

.navbar-item {
  flex-grow: 0;
  flex-shrink: 0;
}
